<div style="margin: 5em">

	<h1 style="margin-bottom: 1em">User list</h1>

	<a ng-click="createNewUser()" class="btn btn-primary" style="margin-bottom: 1em">Create a new user</a>

	<table class="table table-condensed table-striped">
	<thead style="font-weight: bold">
	<tr>
		<td>First name</td>
		<td>Last name</td>
		<td>Login</td>
		<td>E-mail</td>
		<td style="text-align: center">Active</td>
		<td>Note</td>
		<td></td>
	</tr>
	</thead>
	<tr ng-repeat="user in users">
		<td style="width: 10%">{{user.firstname}}</td>
		<td style="width: 10%">{{user.lastname}}</td>
		<td style="width: 10%">{{user.login}}</td>
		<td style="width: 10%"><a ng-href="mailto:{{user.email}}">{{user.email}}</a></td>
		<td style="width: 5%; text-align: center">
			<span ng-if="user.active == true">Yes</span>
			<span ng-if="user.active == false">No</span>
		</td>
		<td style="width: 10%">{{user.note}}</td>
		<td style="text-align: right">
			<a ng-click="editUser(user.id)" class="btn btn-xs btn-primary" style="width: 5em">edit</a>&nbsp;<a ng-click="deleteUser(user.id)" class="btn btn-xs btn-danger" style="width: 5em">delete</a>
		</td>
	</tr>
	</table>

</div>